
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #35434a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;   
    border-bottom: #e84916 2px solid;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left; 
}

header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color:#00a2ff;
    font-weight: bolder;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
    border-bottom: #bd2c9b 2px solid;
}

.button_1{
    height: 38px;
    background: #e84916;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
#newsletter h1{
    float: left;
}
#newsletter form {
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 38px;
    width: 250px;
}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#main-col{
    float: left;
    width: 65%;
}
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e84916;
    text-align: center;
}