body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
.button_1{
    height: 38px;
    background: #e84916;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
.container{
     width: 80%;
     margin: auto;
     overflow: hidden;
}
header {
    background: #35434a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;   
    border-bottom: #773030 2px solid;
    border-top: #773030 2px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #MyName{
    float: left; 
}

header #MyName h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .Bold, header .page a{
    color:#00a2ff;
    font-weight: bolder;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#UserEmail{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
    border-bottom: #773030 2px solid;
}
#UserEmail h1{
    float: left;
}
#UserEmail form {
    float: right;
    margin-top: 15px;
}
#UserEmail input[type="email"]{
    padding: 4px;
    height: 38px;
    width: 250px;
}


footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #773030;
    text-align: center;
}

aside#Column2{
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#Column1{
    float: left;
    width: 65%;
}