
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #35434a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;   
    border-bottom: #413679 2px solid;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
p{
    text-align: justify;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #MyName{
    float: left; 
}

header #MyName h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .Bold, header .Page a{
    color:#3C92CA;
    font-weight: bolder;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
aside#Column2{
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#Column1{
    float: left;
    width: 65%;
}
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #3C92CA;
    text-align: center;
}
li a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}